.movies__switch-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media screen and (max-width:755px) {
    .movies__switch-container {
        justify-content: center;
        border: none;
    }
}

@media screen and (max-width:320px) {
    .movies__switch-container {
        width: 202px;
        justify-content: space-between;
        justify-self: center;
    }
}