.movies__button {
    margin: 0;
    margin-right: 18px;
    padding: 0;
    min-width: 59px;
    height: 34px;
    background-color: transparent;
    background-image: url(../../../images/button.png);
    background-repeat: no-repeat;
    color: #FFF;
    border: none;
    font-size: 0.6875rem;
    font-weight: 500;
    line-height: 1.6;
}

@media screen and (max-width:320px) {
    .movies__button {
        margin-right: 20px;
    }
}