.card__delete {
    display: none;
    margin: 0;
    padding: 0;
    width: 21px;
    height: 21px;
    border: unset;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 14px;
    right: 14px;
    background-image: url(../../../images/delete.svg);
    background-repeat: no-repeat;
}

.card__delete:hover {
    display: block;
}

.card__image:hover + .card__delete {
    display: block;
}

@media screen and (max-width:320px) {
    .card__delete {
        display: block;
    }
}