.techs {
    margin: 0;
    padding: 100px 70px;
    height: 625px;
    background-color: #F5F5F5;
    box-sizing: border-box;
}

@media screen and (max-width:768px) {
    .techs {
        padding: 90px 50px;
        height: 567px;
    }
}

@media screen and (max-width:748px) {
    .techs {
        height: 651px;
    }
}

@media screen and (max-width:320px) {
    .techs {
        padding: 70px 18px;
        background-color: #FFF;
    }
}