.movies__slider {
    display: inline-block;
    width: 34px;
    height: 14px;
    border-radius: 12px;
    background: #2BE080;
    margin: 0;
    margin-left: 30px;
    margin-top: 13px;
    padding: 0;
    border: none;
    cursor: pointer;
    position: relative;
    transition-duration: 300ms;
}

.movies__slider::after {
    content: "";
    height: 10px;
    width: 10px;
    border-radius: 18px;
    background: #fff;
    top: 2px;
    left: 22px;
    transition-duration: 300ms;
    position: absolute;
}

@media screen and (max-width:768px) {
    .movies__slider {
        margin-left: 20px;
    }
}

@media screen and (max-width:320px) {
    .movies__slider {
        margin-left: 26px;
    }
}