.navtab__link {
    color: #FFF;
    text-decoration: none;
    border-bottom: 1.5px solid #FFF;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 1;
}

@media screen and (max-width:320px) {
    .navtab__link {
        font-size: 0.6875rem;
    }
}